.services-header{

    background-image: url("../img/about-header-bg.png"); /* The image used */
    background-color: var(--color1); /* Used if the image is unavailable */
    min-height: 300px;
    margin-top: 99.54px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 2rem !important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 90% 99%, 10% 99%, 0% 86%);
}

.services-header h2,
.services-header h3{
    color: var(--white);
    
}

.services-section1 .__gradient-light{
    background: rgb(110,242,205);
    background: linear-gradient(180deg, rgba(110,242,205,1) 0%, rgba(12,188,179,1) 100%);
    width: 100%;
    height: 380px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 89% 100%, 0% 100%);
}

.services-section1 .__gradient-light img{
    margin: auto;
}

.services-section1 .__gradient-light h6{
    text-align: center;
    margin-top: 1rem;
    color: var(--white);
}


.services-section1 .__gradient-dark{
    background: #05BFFB;
    background: linear-gradient(180deg, #05BFFB 0%, #0962EA 100%);
    width: 100%;
    height: 380px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 89% 100%, 0% 100%);
    
}

.services-section1 .__gradient-dark img{
    margin: auto;
}

.services-section1 .__gradient-dark h6{
    text-align: center;
    margin-top: 1rem;
    color: var(--white);
}


.services-section2{
    background: #3D75FF;
    background: linear-gradient(180deg, #3D75FF 0%, #101B28 100%);
    padding: 100px 0;
    clip-path: polygon(0% 0%, 13% 0%, 15% 15%, 85% 15%, 87% 0%, 100% 0%, 100% 100%, 87% 100%, 84% 87%, 15% 87%, 13% 100%, 0% 100%);

}


.services-section2 p {
    color: var(--white);
    text-align: center;
}


.services-section3{

}


.services-section3 h2,
.services-section3 p{
    text-align: center;
}




.services-section3 .__box-container{
    background-color: var(--black);
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 89% 100%, 0% 100%);
    padding: 0px 16px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
   
}

.services-section3 .__box-container:hover{
    background: #3D75FF;
    background: linear-gradient(90deg, #3D75FF 0%, #12368C 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 89% 100%, 0% 100%);
   padding: 0px 16px;
   height: 110px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.services-section3 .__box-container p {
    color: var(--white);
    text-align: start;
}




.services-section4 h5,
.services-section4 h3,
.services-section4 p{
    color: var(--white);
}

.services-section4 {

    clip-path: polygon(0% 0%, 42% 0%, 46% 30%, 100% 30%, 100% 100%, 0% 100%);
    padding-bottom: 3rem;
    background-color: var(--color3);
}





.services-section6 h3,
.services-section6 p{
    color: var(--white);
}

.services-section6 {

    clip-path: polygon(0% 0%, 50% 0%, 56% 30%, 100% 30%, 100% 100%, 0% 100%);
    padding-bottom: 3rem;
    background-color: var(--black);
}

.services-section6 .__h3-sm{
    display: none;
}

.services-section7 .__box-container{
    display: flex;
}

.services-section7 .__box-container .__p-container{
    border: 1px solid var(--black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.services-section7 .__md{

}

.services-section7 .__sm{
    display: none;
}


.services-section8{
    clip-path: polygon(0% 0%, 13% 0%, 15% 10%, 85% 10%, 87% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #3D75FF;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.services-section8 h3,
.services-section8 p{
    color: var(--white);
    text-align: center ;
}


.services-section9 .__p-container{
    
    background-image: url("../img/services-section9-bg.png"); /* The image used */
    background-color: transparent; /* Used if the image is unavailable */
 width: 100%;
 height: 350px;
    margin-top: 50px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto; /* Resize the background image to cover the entire container */
    padding: 0px 25px 10px 25px;
}


.services-section9 .__p-container p {
    color: var(--white);
}


.services-section9 .__horizontal-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--white);    
}